{% extends "_modal_dialog.html" %}
{% set tab = "login" %}
{% block modal_title %}<span class="pull-left">Log in</span>{% endblock %}
{% block modal_title_post %}
	<span class="pull-right small"><a href="{{ url_for_security('forgot_password') }}">Forgot your password?</a></span>
{% endblock %}
{% block modal_content %}
	<form class="login-form" action="{{ url_for_security('login') }}" method="POST">
		{{ login_user_form.hidden_tag() }}
		<div class="form-group{% if login_user_form.errors %} has-error{% endif %}">
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
				{{ login_user_form.email(class='form-control', placeholder='Email Address', autofocus=True) }}
			</div>
		</div>
		<div class="form-group{% if login_user_form.errors %} has-error{% endif %}">
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
				{{ login_user_form.password(class='form-control', placeholder='Password') }}
			</div>
		</div>
		<div class="checkbox">
			<label>
				{{ login_user_form.remember }} Remember me
			</label>
		</div>
		{{ login_user_form.next }}
		{{ login_user_form.submit(value='Log in', class='btn btn-default pull-right') }}
		
		<hr />
		
		<p>
			Don't have an account? <a href="{{ url_for_security('register') }}">Create one here</a>
		</p>
	</form>
{% endblock %}
