requests 
Flask 
Flask-Admin 
Flask-Login 
Flask-Mail 
Flask-Migrate 
Flask-Principal 
Flask-SQLAlchemy 
Flask-Script 
Flask-Security 
Flask-WTF
MarkupSafe 
SQLAlchemy 
SQLAlchemy-Utils 
WTForms 
WTForms-Alchemy 
WTForms-Components
gunicorn