<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>KCSrv (name subject to change)</title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
</head>
<body>

<div class="container">
	{% block content %}
	<h1>Oops!</h1>
	<p>Looks like someone forgot to override the <code>content</code> block on this page.</p>
	{% endblock %}
</div>

<script type="text/javascript" src="//code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>
