<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>KCSrv (name subject to change)</title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Brand</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">Connecting</a></li>
				<li><a href="#">Importing</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% if not current_user.is_authenticated() %}
				<li><a href="{{ url_for_security('login') }}">Log in</a></li>
				{% else %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						{% if current_user.has_role('admin') %}<li><a href="{{ url_for('admin.index') }}">Admin</a></li>{% endif %}
						<li><a href="{{ url_for('my_admiral.index') }}">My Admiral</a></li>
						<li><a href="#">Settings</a></li>
						<li class="divider"></li>
						<li><a href="{{ url_for_security('logout') }}">Log out</a></li>
					</ul>
				</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	{% if page_title %}
	<div class="page-header">
		<h1>{{ page_title|safe }}</h1>
	</div>
	{% endif %}
	{% block content %}
	<h1>Oops!</h1>
	<p>Looks like someone forgot to override the <code>content</code> block on this page.</p>
	{% endblock %}
</div>

<script type="text/javascript" src="//code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>
